<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons CSS -->
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App CSS -->
    <link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
</head>

<body data-sidebar="dark">
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div id="layout-wrapper">
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    {% if page_obj%}
                    <!-- end page title -->
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-centered table-nowrap mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Assigned to</th>
                                                    <th scope="col">Assigned by</th>
                                                    <th scope="col">Released by</th>
                                                    <th scope="col" colspan="3">Assets</th>
                                                    <th scope="col">Assigned Date</th>
                                                    <th scope="col">Due Date</th>
                                                    <th scope="col">Returned Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for tokens, queryset in page_obj %}
                                                <tr>
                                                    <td>
                                                        {%for query in queryset|slice:":1" %}

                                                        <h5 class="font-size-15 mb-0">
                                                            {{query.nameofstaffreturningasset}}
                                                        </h5>

                                                        {%endfor%}
                                                    </td>
                                                    <td>
                                                        {%for query in queryset|slice:":1"%}
                                                        <h5 class="font-size-15 mb-0">{{query.asset_verified_by}}</h5>

                                                        {%endfor%}
                                                    </td>
                                                    <td>
                                                        {%for query in queryset|slice:":1"%}
                                                        <h5 class="font-size-15 mb-0">{{query.asset_release_by}}</h5>

                                                        {%endfor%}
                                                    </td>
                                                    <td colspan="3">
                                                        <div class="row">
                                                            {%for query in queryset%}
                                                            <div class="col-sm-4">
                                                                <h5 class="font-size-15 mb-0">{{query.asset_name}}</h5>
                                                                <p class="mb-1 font-size-12">{{query.asset_code}}</p>
                                                            </div>
                                                            {%endfor%}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        {%for query in queryset|slice:":1"%}
                                                        <h5 class="font-size-15 mb-0">{{query.asset_issued_in}}</h5>
                                                        {%endfor%}
                                                    </td>
                                                    <td>
                                                        {%for query in queryset|slice:":1"%}
                                                        <h5 class="font-size-15 mb-0">
                                                            {{query.expected_date_of_return_of_such_asset}}</h5>

                                                        {%endfor%}
                                                    </td>
                                                    <td>
                                                        {%for query in queryset|slice:":1"%}
                                                        <h5 class="font-size-15 mb-0">{{query.date_of_return}}</h5>

                                                        {%endfor%}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- end card-body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                    {%else%}
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Empty!</h4>

                        </div>
                    </div>
                    {% endif %}

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
        </div>
</body>

</html>